<!-- The Users List Partial-->
<!--Template to create/edit a push application-->
<div>{{#linkTo "mobileApps"}}&larr; Back to Push Applications{{/linkTo}}</div>

<div id="user-table">
    <table class="rcue-table"">
        <thead>
            <tr>
              <th colspan="2">
              {{#linkTo "user.add"}}<div class="table-create-btn topcoat-button">Create...</div>{{/linkTo}}
              </th>
            </tr>
            <tr>
              <th>Login Name</th>
              <th>#</th>
            </tr>
        </thead>
        <tbody>
            {{#each}}
                <tr>
                   <td>{{loginName}}</td>
                   <td class="action">
                     <a href="#" {{ action "remove" this}}>Remove</a>
                   </td>
                </tr>
            {{else}}
                <tr>
                    <td colspan="2">Loading...{{#if isLoaded}}Nothing Here{{/if}}</td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</div>

